{% extends "base.html" %}

{% block title %}About Creator{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-10 mt-5 py-3 mx-auto content">

          <h1>About me <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
</svg></h1>
          <br> <br>
          <p>At the age of 18, I find myself on the brink of completing my high school journey.</p>
          <p>My fervor lies within the realm of programming, with a particular penchant for Python, and delving into the intricacies of web development, particularly from the backend perspective.</p>
          <p>My insatiable thirst for knowledge propels me to constantly seek opportunities to broaden my skill set, as I strive each day to evolve into a more proficient individual.</p>
          <p>Beyond the realms of programming, my interests extend into the domains of investments, business ventures, and the intricate workings of economics. I am captivated by the dynamic nature of these fields and am eager to explore their depths further.</p>
          <p>When I'm not immersed in the digital realm, I find solace and joy in physical activities. Whether it's pushing my limits at the gym, pounding the pavement in a refreshing run, or honing my skills in various martial arts disciplines, I thrive on the rush of adrenaline and the sense of accomplishment that accompanies each endeavor.</p>
          <p>Moreover, I am not just content with individual growth; I harbor a strong desire to collaborate and synergize with like-minded individuals. I am keen on finding a partner with whom I can embark on programming adventures, pooling our talents and energies to bring our shared visions to life. The prospect of joint projects and the opportunity to exchange ideas and insights excites me immensely, as I believe that collaboration is key to unlocking new levels of innovation and success</p>



      </div>
    </div>
</div>
{% endblock %}